<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESTOKEY - Edição de Produto</title>

    <!-- Chamar os arquivos externos -->
    <link rel="stylesheet" type="text/css" href="css/editar_prouto.css">

</head>

<body>

<header>
    <h1>Edição de Produto</h1>
</header>

<main>
    <div class="box">
        <!--HTML so aceita metodos POST e GET-->
        <form action="/editar/{{produto.pk_produto}}?_method=PUT" method="POST">
            <!-- Emular o PUT -->
            <input type="hidden" name="_method" value="PUT"> 
            <fieldset>

                <legend><b>Editar Produto</b></legend>
                <br>
                <div class="inputBox">
                    <input type="text" name="descProduto" id="descricao" class="inputUser" value="{{produto.descricao_produto}}" required>
                    <label for="descricao" class="labelInput">Descrição do Produto</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="text" name="catProduto" id="categoria" class="inputUser" value="{{produto.categoria_produto}}" required>
                    <label for="categoria" class="labelInput">Categoria</label>
                </div>     
                <br><br>
                <div class="inputBox">
                    <input type="text" name="valorCompraProduto" id="valorCompra" class="inputUser" value="{{produto.valor_compra_produto}}" required>
                    <label for="valorCompra" class="labelInput">Valor de Compra</label>
                </div> 
                <br><br>
                <div class="inputBox">
                    <input type="text" name="valorBrutoVendaProduto" id="valorBruto" class="inputUser" value="{{produto.valor_bruto_venda_produto}}" required>
                    <label for="valorBruto" class="labelInput">Valor de Venda (Bruto)</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="text" name="quantidadeProduto" id="qtdeProduto" class="inputUser" value="{{produto.quantidade_produto}}" required>
                    <label for="qtdeProduto" class="labelInput">Quantidade</label>
                </div>
                <br><br>
                <br>                  
                
                <input type="submit" name="submit" id="button-cadastrar" value="Atualizar Produto">   
                
            </fieldset>               
        </form>
    </div>
    <div>
        <a href="/" type="submit"><button class="botao-inicial">Tela inicial</button></a>
        <a href="/consultaProduto" type="submit"><button class="botao-consulta">Consulta de Produtos</button></a>
    </div>       
</main>
</body>
</html>
